.conteiner { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../images/background_main.jpg') no-repeat;
    background-size: cover;
}

.search_bar { 
    padding-top: 30px;
}